<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/nouveaux" method="POST">
        Nom : <input type="text" name="nom" required>
        <br>
        adresse mail : <input type="text" name="mail" required>
        <br>
        mot de passe : <input type="password" name="password" required>
    <input type="submit" value="Valider">
</body>
</html>